<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChX Note | Log-in</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="/images/icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/styles/globals.css">
    <link rel="stylesheet" href="/styles/login.css">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=visibility,visibility_off" />
</head>
<body class="<%= theme %>">
    <div class="login-container">
        <span class="text-logo">
            <img src="/images/icon.svg" alt="" height="100%">
            ChX Note
        </span>

        <span class="toggle-action">
            <div class="indication" style="transform: translateX(calc(<%= form_type === 'login' ? '0px' : "100% + 0.5rem"%>));"></div>
            <button onclick="toggleTo('login')" class="t-ac login <%= form_type === 'login' ? 'active' : ''%>">Login</button>
            <button onclick="toggleTo('registre')" class="t-ac registre <%= form_type === 'registre' ? 'active' : ''%>">Registre</button>
        </span>
        <div class="forms-limits <%= form_type%>-f">
            <div class="forms-container" style="transform: translateX(calc(<%= form_type === 'login' ? '0px' : "-50% - 1rem"%>));">
                <form action="/login" method="post" class="login">
                    <div class="info">
                        <input required type="email" placeholder="E-mail" name="email">
                        <div class="password-container">
                            <input required type="password" placeholder="Senha" name="password" class="passworld">
                            <button type="button" class="b-vis" onclick="toggleVisibility(this)">
                                <span class="material-symbols-outlined">visibility</span>
                            </button>
                        </div>
                        <div class="error-message"><%= error_message_login %></div>
                    </div>
                    <button type="submit">Entrar</button>
                </form>
                <form action="/registre" method="post" class="registre">
                    <div class="info">
                        <input required type="email" placeholder="E-mail" name="email">
                        <!-- <input required type="password" placeholder="Senha" name="password"> -->
                        <div class="password-container">
                            <input required type="password" placeholder="Senha" name="password" class="passworld">
                            <button type="button" class="b-vis" onclick="toggleVisibility(this)">
                                <span class="material-symbols-outlined">visibility</span>
                            </button>
                        </div>
                        <span class="check">
                            <input type="checkbox" name="admin" value="true" required>
                            <span>Concordo com os termos de uso.</span>
                        </span>
                        <div class="error-message"><%= error_message_registre %></div>
                    </div>
                    <button type="submit">Entrar</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/scripts/login.js"></script>
</body>
</html>